:root {
  /* Colors */
  --background-color: #f8fbff;
}
* {
  box-sizing: border-box;
  font-family: sdfsf;
}

body {
  background-color: var(--background-color);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
