.button-main {
  background-color: lightblue;
  border: none;
  text-align: center;
  font-size: 16px;
  border-radius: 16px;
  padding: 8px 16px;
  margin: 20px 0 20px 0;
}

.button-completed {
  background-color: #caf2bc;
  border: none;
  font-size: 16px;
  border-radius: 16px;
  padding: 16px 16px;
}

.button-delete {
  background-color: #f4a3a3;
  border: none;
  font-size: var(--p);
  border-radius: 16px;
  padding: 8px 16px;
  margin-left: 5px;
  margin-right: 5px;
}

.button-list {
  background-color: lightblue;
  border: none;
  font-size: var(--p);
  border-radius: 16px;
  padding: 12px 32px;
  font-weight: bold;

}
.button-danger{
  background-color: rgb(212, 95, 95);
  width: 100px;
}
