.button-main {
  background-color: lightblue;
  border: none;
  text-align: center;
  font-size: 16px;
  border-radius: 2px;
  padding: 8px 16px;
}

.button-completed {
  background-color: #f4a3a3;
  border: none;
  font-size: 16px;
  border-radius: 16px;
  padding: 8px 16px;
}

.button-delete {
  background-color: #f4a3a3;
  border: none;
  font-size: var(--p);
  border-radius: 16px;
  padding: 8px 16px;
}
