:root {
  /* Colors */
  --background-color: #f8fbff;

  /* Font sizs*/
  --h1: 2rem;
  --h2: 1.5rem;
  --h3: 1rem;
  --p: 1rem;
}
* {
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
  color: black;
}

body {
  background-color: var(--background-color);
  margin: 0 24px 0 24px;
}

main {
  display: flex;
  flex-direction: column;
}

/* Style for the user info on home page */
.user-container {
  display: flex;
  flex-direction: row;
  font-size: var(--h2);
  gap: 10px;
  margin: 8px;
}

img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
