input {
  height: 30px;
  width: 200px;
}

.login-email {
  margin: 0 0 16px 0;
}
.register-username {
  margin: 0 0 16px 0;
}
.register-email {
  margin: 0 0 16px 0;
}
.register-password {
  margin: 0 0 16px 0;
}
.register-avatar {
  margin: 0 0 16px 0;
}
