main {
  display: flex;
  flex-direction: column;
  font-size: var(--h1);
}

form {
  display: inline-block;
}
.update-email {
  padding: 10px;
}

.update-password {
  padding: 10px;
}

input {
  height: 30px;
  width: 200px;
}

.login-email {
  display: flex;
  flex-wrap: wrap;
}
.register-username {
  padding: 10px 0;
}
.register-email {
  padding: 10px 0;
}
.register-password {
  padding: 10px 0;
}
.register-avatar {
  padding: 10px 0;
}

.task-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-style: solid;
  padding: 8px;
  margin: 8px;
}

.heading-deadline {
  margin: 8px;
}

.task-title {
  font-size: var(--h3);
  margin: 8px;
}

.task-description {
  font-size: var(--p);
  color: #7d7a7a;
  margin: 8px;
}
.task-deadline {
  font-size: var(--p);
  margin: 8px;
}
