.list-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: var(--h2);
  margin: 16px 4px 0 0;
  width: 300px;
}

.list-heding {
  font-size: var(--h2);
  margin: 16px 0 0 0;
}

.list-form {
  margin: 8px;
}
