@media only screen and (min-width: 760px) {
  .hamburger {
    display: none;
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
  }
  .navbar-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 0;
  }

  .nav-item {
    align-self: flex-end;
    margin-left: 5rem;
  }

  .nav-link {
    font-size: 1rem;
    color: black;
  }

  .nav-link:hover {
    font-weight: bold;
  }

  img {
    width: 100px;
  }
  body {
    margin: 20px 0 20px 0;
  }
}
