@font-face {
  font-family: 'Dosis Regular';
  src: local('Dosis Regular'),
    url('Dosis-VariableFont_wght.woff2') format('woff2'),
    url('Dosis-VariableFont_wght.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}
