@font-face {
  font-family: 'Dosis Regular';
  src: local('Dosis Regular'),
    url('Dosis-VariableFont_wght.woff2') format('woff2'),
    url('Dosis-VariableFont_wght.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

h1 {
  font-size: var(--h1);
}

p {
  font-size: var(--p);
}

.add-list h2 {
  font-size: var(--h2);
  margin: 0 0 16px 0;
}

.task-form h2 {
  font-size: var(--h2);
  margin: 0 0 8px 0;
}
.list-form h2 {
  font-size: var(--h2);
  margin: 0 0 8px 0;
}
label {
  font-size: var(--p);
}

.user-container h2 {
  font-size: var(--h2);
}

.update-email h2 {
  font-size: var(--h2);
}

.link {
  text-decoration: underline;
}
small {
  margin-top: 10px;
}
.success-alert {
  color: green;
}
.danger-alert {
  color: red;
}
